hidden {
  display: none;
}

.background {
  background: #bfd7ff;
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.fireball {
  	background-image:url(../../images/fireball-2.png);
	background-size: cover;
}

.lava {
  background-image:url(../../images/lava.png);
  background-size: cover;
}

.elevator {
  background: rgb(229, 229, 229);
}

.wall {
  	background-image:url(../../images/wall.png);
	background-size: cover;
}

.actor {
  position: absolute;
}

.coin {
  	background-image:url(../../images/coin.png);
	background-size: cover;
}

.mushroom {
	background-image:url(../../images/mushroom.png);
	background-size: cover;
}

.berry {
	background-image:url(../../images/berry.png);
	background-size: cover;
}

.score {
	background: rgb(0, 229, 89);
	display: block;
	
}

.player {
  background-image:url(../../images/player.png);
  background-size: cover;
}

.lost .player {
  background-image:url(../../images/player-lost.png);
  background-size: cover;
}

.won .player {
  background-image:url(../../images/player.png);
  background-size: cover;
  -webkit-filter: drop-shadow(5px 5px 5px white);
  filter: drop-shadow(5px 5px 5px #222);
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
